:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

main {
  padding: 10em;
  align-items: center;
  justify-items: center;
}

.iconsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  width: 40%;
}

.iconsContainer svg {
  width: 25px;
  height: 25px;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

img {
  border-radius: 50%;
  width: 100%;
}

h1 {
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  color: rgb(87, 157, 255);
}
