/* Dine styles her */

/* Din opgave er at anvende flow space-teknikken, så der skabes et behageligt og ensartet vertikalt rum mellem de forskellige elementer. Du skal anvende følgende afstande:

1. Angiv en standard vertikal margin på `.5rlh` mellem alle elementer inde i **`article`**, med mulighed for overskrive denne via en custom property kaldet `--flow-space`.
2. For `h2`, sæt `—flow-space`-værdien til `2rlh`.
3. For `h3`, sæt `—flow-space`-værdien til `1rlh`.
4. For alle elementer, der kommer lige efter **`h3`**, reducér `—flow-space` til `.25rlh`.

Din løsning skal vise en forståelse af flow space-teknikken og korrekt implementere de nødvendige CSS Custom Properties. */

article {
  /* --flow-space: 0.5rlh: */

  /* margin-inline: auto; */

  > * + * {
    margin-top: var(--flow-space, 0.5rlh);
    /* margin-bottom: var(--flow-space); */
  }

  h2 {
    --flow-space: 2rlh;
  }

  h3 {
    --flow-space: 1rlh;
  }
  h3 + * {
    --flow-space: 0.25rlh;
  }
}
